.mainPage {
  min-height: 78vh;
}

.no-taskBg {
  background-color: #eee;
  font-family: Poppins;
  width: 600px;
  margin: 40px;
}

.no-tasks-text {
  font-size: 1.5rem;
}

.list-group {
  font-family: "Poppins";
  font-size: 1rem;
  place-items: center;
}

.list {
  place-items: center;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  color: #ffba00;
  align-items: center;
  justify-content: center;
  gap: 3%;
  margin: 20px;
}

.tasks-container > div {
  margin: 60px;

  grid-template-columns: auto auto auto;
  display: grid;
  gap: 3%;
}
